/* 추억 목록 컨테이너 */
.memory-list-container {
  margin-top: 20px;
}

/* 추억 목록 헤더 */
.memory-header {
  display: flex;
  justify-content: space-between; /* 제목과 버튼을 양쪽 끝에 배치 */
  align-items: center; /* 제목과 버튼을 동일한 높이로 정렬 */
  margin-bottom: 10px;
}

/* 추억 올리기 버튼 */
.create-memory-button {
  padding: 10px 15px;
  background-color: #000;
  color: #FAFAFA;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.create-memory-button:hover {
  background-color: #333;
}

/* 추억 카드 스타일 */
.memory-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
