/* 모달 전체 오버레이 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* 모달 컨테이너 */
  .modal-container {
    background-color: white;
    width: 480px; /* 모달 너비 */
    height: 298px; /* 모달 높이 */
    padding: 20px;
    border-radius: 8px; /* 모서리 둥글게 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* 모달 제목과 메시지 */
  .modal-container h2 {
    margin-bottom: 20px;
  }
  
  .modal-container p {
    margin-bottom: 30px;
  }
  
  /* 확인 버튼 스타일 */
  .modal-confirm-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .modal-confirm-button:hover {
    background-color: #333; /* 호버 시 색상 */
  }
  